.wp-block-search {

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper {

		@extend %input-base;
	}

	.wp-block-search__button {
		background: var(--wp--preset--color--lw-accent);
		color: var(--wp--preset--color--lw-fg-alt);
		border-color: var(--wp--preset--color--lw-accent);
		border-radius: var(--wp--custom--border-radius--small);
	}
}
