%input-base {
	border-radius: 3px;
	color: var(--wp--preset--color--lw-fg);
	background: var(--wp--preset--color--lw-bg);
	border: 3px solid var(--wp--preset--color--lw-fg);
}

@mixin button-base {
	max-width: 100%;
	overflow: visible;
	border: 0;
	box-shadow: none;
	font-family: inherit;
	font-weight: 600;
	text-transform: uppercase;
	padding: 16px 32px;
	border-radius: 500px;
	font-size: var(--wp--preset--font-size--normal);
	transition: all 0.25s ease-in-out;
}

%button {
	@include button-base;
	color: var(--wp--preset--color--lw-fg-alt);
	background: var(--wp--preset--color--lw-accent);
	border-color: var(--wp--preset--color--lw-accent);
}
