/**
 * Styles applied in editor and frontend.
 *
 * Webpack processes CSS, SASS or SCSS files referenced in JavaScript files.
 * All filenames containing `style` keyword are bundled together. The code used
 * gets applied to both the frontend and the editor.
 *
 * @see https://www.npmjs.com/package/@wordpress/scripts#using-css
 */

.camperAnimation_wrapper {
	height: 750px;
	margin-block-start: 0;
	margin-top: 0;

	@media ( min-width: 600px ) {
		height: 1000px; // Match height of scaling element #camperAnimation.
	}

	#camperAnimation {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		height: 1000px;
		overflow: hidden;

		width: 150%;
		transform: scale(0.75) translate(-25%, -166.5px);

		@media ( min-width: 600px ) {
			width: 100%;
			transform: unset;
		}
		
		#camperAnimation_camperSVG {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: 0 auto;
			padding-left: 5vw;
			max-width: var(--wp--style--global--wide-size);
			height: 1000px;

			svg {
				height: 100%;
				width: 100%;
			}

			#camperAnimation_camperBodySVG,
			.camperAnimation_camperBodySVG {
				
				@media ( min-width: 300px ) {
					animation: camperAnimation_bounce 8s ease-in-out infinite;
				}
			}

			@keyframes camperAnimation_bounce {
				0%   { transform: translateY( 0px); }
				1%   { transform: translateY( 5px); }
				3%   { transform: translateY( 0px); }
				18%  { transform: translateY( 0px); }
				19%  { transform: translateY( 5px); }
				21%  { transform: translateY( 0px); }
				22%  { transform: translateY( 0px); }
				23%  { transform: translateY( 5px); }
				27%  { transform: translateY( 0px); }
				50%  { transform: translateY( 0px); }
				51%  { transform: translateY( 5px); }
				55%  { transform: translateY( 0px); }
				86%  { transform: translateY( 0px); }
				87%  { transform: translateY( 5px); }
				91%  { transform: translateY( 0px); }
				100% { transform: translateY(0px); }
			}
		}

		#camperAnimation_stars,
		#camperAnimation_hillRear,
		#camperAnimation_hillFront,
		#camperAnimation_floraRear,
		#camperAnimation_floraMid,
		#camperAnimation_road,
		#camperAnimation_floraFront {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-position: 0 100%;
			background-repeat: repeat-x;
			background-size: 1000px;

			@media ( min-width: 300px ) {
				animation: camperAnimation_scroll 10s linear infinite;
			}
			
			@keyframes camperAnimation_scroll {
				from { background-position: 0 100%; }  
				to   { background-position: -1000px 100%; }  
			}
		}

		#camperAnimation_stars { background: var(--camperAnimation_starsSVG); animation-duration: 50s; }
		#camperAnimation_hillRear { background: var(--camperAnimation_hillRearSVG); animation-duration: 30s; }
		#camperAnimation_hillFront { background: var(--camperAnimation_hillFrontSVG); animation-duration: 12s; }
		#camperAnimation_floraRear { background: var(--camperAnimation_floraRearSVG); animation-duration: 8s; }
		#camperAnimation_floraMid { background: var(--camperAnimation_floraMidSVG); animation-duration: 6s; }
		#camperAnimation_road { background: var(--camperAnimation_roadSVG); animation-duration: 2s; }
		#camperAnimation_floraFront { background: var(--camperAnimation_floraFrontSVG); animation-duration: 1.5s; }
		
		--camperAnimation_starsSVG: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000'%3E%3Cpath fill='%23fff' d='M41 45a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm282 10a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3zm586 5a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3zm-691 41a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm599 12a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-281 7a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-150 5a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm339 25a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3zm-581 22a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3zm214 19a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm568 28a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-681 43a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm451 2a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-132 21a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-481 2a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm778 8a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-406 6a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-147 23a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-132 32a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm561 8a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-161 34a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-188 11a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-287 3a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm849 1a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-742 14a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm631 23a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm-153 6a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-397 20a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm-129 1a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm793 7a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm-477 4a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm-126 6a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm222 17a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm203 1a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm-82 29a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm-305 8a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1zm241 4a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1z'/%3E%3C/svg%3E%0A");
		--camperAnimation_hillRearSVG: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1000' height='1000'%3E%3Cdefs%3E%3ClinearGradient id='linearGradient4689'%3E%3Cstop offset='0' stop-color='%230b4437'/%3E%3Cstop offset='.7' stop-color='%230b4437'/%3E%3Cstop offset='1' stop-color='%230c5543'/%3E%3C/linearGradient%3E%3ClinearGradient href='%23linearGradient4689' xlink:href='%23linearGradient4689' id='linearGradient4691' x1='894.6' x2='894.6' y1='1000' y2='552.8' gradientTransform='matrix(.99909 0 0 .99909 0 0)' gradientUnits='userSpaceOnUse'/%3E%3C/defs%3E%3Cg transform='matrix(1.00091 0 0 1.00183 0 -1)'%3E%3Cpath fill='%2311755c' d='m86 494-15 79h27zm17 26-15 78h27zm24-10-15 79 26-1zm117 8-15 79h27zm14-20-15 79 27-1zm28 18-15 79 26-1zm17 6-15 79 27-1zm217 35-14 78h26zm20-17-15 79 27-1zm14 10-15 79 27-1zm112 7-15 79 27-1zm70-5-15 79 27-1zm140-15-15 79 27-1zm14-41-15 79 27-1zm38 4-15 79 27-1zm22 10-15 79 27-1z'/%3E%3Cpath fill='%23052720' d='m32 490-15 79h27zm17 26-15 78h27zm24-10-15 79 26-1zm117 8-15 79h27zm14-20-15 79 27-1zm28 18-15 79 26-1zm17 6-15 79 27-1zm217 35-14 78h26zm20-17-15 79 27-1zm14 10-15 79 27-1zm112 7-15 79 27-1zm32 5-15 79 27-1zm178-25-15 79 27-1zm20-37-15 79 27-1zm32 0-15 79 27-1zm22 10-15 79 27-1z'/%3E%3Cpath fill='url(%23linearGradient4691)' d='M0 565h34c16-1 51-14 77-12 50 2 100 16 150 16 48 0 95 46 142 44 38-2 76-26 113-32 59-10 116 48 176 47 71-2 131-85 202-75 27 3 59 12 82 12h23v435H0Z'/%3E%3Cg transform='translate(615 15)'%3E%3Cpath id='rect22828' fill='%234e1111' d='M136 595h9v13h-9z'/%3E%3Cpath id='path22830' fill='%23052720' d='M147 553a9 8 0 0 0-9 6 10 7 0 0 0-6-1 10 7 0 0 0-10 7 10 7 0 0 0 0 2 11 10 0 0 0-9 10 11 10 0 0 0 7 8 10 8 0 0 0-1 5 10 8 0 0 0 10 8 10 8 0 0 0 4-1 13 9 0 0 0 9 3 13 9 0 0 0 11-5 8 9 0 0 0 2 0 8 9 0 0 0 8-9 6 9 0 0 0 6-8 6 9 0 0 0-5-9 8 9 0 0 0 0-1 8 9 0 0 0-7-9 8 9 0 0 0-1 0 9 8 0 0 0-9-6z'/%3E%3C/g%3E%3Cg transform='translate(12 7)'%3E%3Cpath fill='%234e1111' d='M136 595h9v13h-9z'/%3E%3Cpath id='path22836' fill='%23052720' d='M147 553a9 8 0 0 0-9 6 10 7 0 0 0-6-1 10 7 0 0 0-10 7 10 7 0 0 0 0 2 11 10 0 0 0-9 10 11 10 0 0 0 7 8 10 8 0 0 0-1 5 10 8 0 0 0 10 8 10 8 0 0 0 4-1 13 9 0 0 0 9 3 13 9 0 0 0 11-5 8 9 0 0 0 2 0 8 9 0 0 0 8-9 6 9 0 0 0 6-8 6 9 0 0 0-5-9 8 9 0 0 0 0-1 8 9 0 0 0-7-9 8 9 0 0 0-1 0 9 8 0 0 0-9-6z'/%3E%3C/g%3E%3Cg transform='translate(213 28)'%3E%3Cpath fill='%234e1111' d='M136 595h9v13h-9z'/%3E%3Cpath fill='%23052720' d='M138 527a6 9 0 0 0-5 9 6 9 0 0 0 0 3 9 7 0 0 0-7 7 9 7 0 0 0 1 3 6 7 0 0 0-1 4 9 8 0 0 0-7 8 9 8 0 0 0 0 2 8 7 0 0 0-5 6 8 7 0 0 0 0 3 11 10 0 0 0-1 5 11 10 0 0 0 1 2 9 7 0 0 0-7 6 9 7 0 0 0 10 7 9 7 0 0 0 2 0 10 8 0 0 0 10 6 10 8 0 0 0 4-1 13 9 0 0 0 9 3 13 9 0 0 0 11-5 8 9 0 0 0 2 0 8 9 0 0 0 6-3 8 6 0 0 0 2 0 8 6 0 0 0 8-6 8 6 0 0 0-3-4 6 9 0 0 0 1-4 6 9 0 0 0-5-9 8 9 0 0 0 0-1 8 9 0 0 0-5-8 4 5 0 0 0-1-1 8 8 0 0 0 2-5 8 8 0 0 0-2-5 10 4 0 0 0-3-3 8 8 0 0 0-2 0 10 4 0 0 0-1 0 8 8 0 0 0 0-1 8 8 0 0 0-8-8 6 9 0 0 0 0-1 6 9 0 0 0-6-9z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
		--camperAnimation_hillFrontSVG: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1000' height='1000'%3E%3Cdefs%3E%3ClinearGradient id='linearGradient4679'%3E%3Cstop offset='0' stop-color='%23106954'/%3E%3Cstop offset='.6' stop-color='%23106954'/%3E%3Cstop offset='1' stop-color='%23136854'/%3E%3C/linearGradient%3E%3ClinearGradient href='%23linearGradient4679' xlink:href='%23linearGradient4679' id='linearGradient4681' x1='651.4' x2='651.4' y1='1000' y2='621' gradientUnits='userSpaceOnUse'/%3E%3C/defs%3E%3Cg transform='matrix(1 0 0 .99891 0 1)'%3E%3Cpath fill='url(%23linearGradient4681)' d='M0 645h34c16-1 51-2 77 0 50 3 100 16 150 16 48 0 95-13 143-16 37-2 75 6 113 0 59-10 115-24 175-25 72-2 132 15 203 25 27 3 59 0 82 0h23v355H0Z'/%3E%3C/g%3E%3C/svg%3E%0A");
		--camperAnimation_floraRearSVG: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000'%3E%3Cg%3E%3Cpath fill='%23052720' d='m137 694-1 5c-3-7-4-2-1 3h4c3-6 3-10-1-4l-1-4zm712 4c-1 0-2 1-2 4-3-7-3-2-1 3h4c3-6 3-10-1-3v-4zm-144 5c-1 0-2 1-2 4-3-7-3-2-1 3h5c2-6 2-9-2-3v-4zm-376 6c-1-1-1 1-1 4-3-7-4-2-2 3h5c3-6 2-10-1-3l-1-4z'/%3E%3C/g%3E%3C/svg%3E%0A");
		--camperAnimation_floraMidSVG: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000'%3E%3Cg%3E%3Cpath fill='%23052720' d='M73 728c-1 0-2 2-2 7-5-10-6-3-2 4h6c4-9 4-14-1-5l-1-6zm400 6c-1 0-2 2-2 8-6-12-7-4-3 5h8c5-11 5-17-2-6 1-5 0-7-1-7zm407 3c-1 0-2 2-2 8-6-12-7-4-3 4h8c5-10 4-16-2-5 1-4 0-7-1-7zm-742 1c-2 0-3 3-3 9-6-13-7-4-3 5h9c5-11 5-18-2-6 1-5 0-8-1-8zm519 13c-1 0-3 3-3 9-6-13-7-4-2 5h8c6-11 5-18-2-6 1-5 0-8-1-8z'/%3E%3C/g%3E%3C/svg%3E%0A");
		--camperAnimation_roadSVG: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1000' height='1000'%3E%3Cdefs%3E%3ClinearGradient id='linearGradient2516'%3E%3Cstop offset='.1' stop-color='%23151515'/%3E%3Cstop offset='.3' stop-color='%2322262b'/%3E%3Cstop offset='.8' stop-color='%2332323a'/%3E%3Cstop offset='1' stop-color='%232b2b2b'/%3E%3C/linearGradient%3E%3ClinearGradient href='%23linearGradient2516' xlink:href='%23linearGradient2516' id='linearGradient2518' x1='500' x2='500' y1='1000' y2='777.3' gradientTransform='matrix(1 0 0 .89806 0 79)' gradientUnits='userSpaceOnUse'/%3E%3C/defs%3E%3Cg transform='translate(0 -7)'%3E%3Cpath fill='url(%23linearGradient2518)' d='M0 777h1000v200H0z'/%3E%3Cpath fill='%23949494' d='M0 782v4h1000v-4zm0 70v6h100v-6zm200 0v6h100v-6zm200 0v6h100v-6zm200 0v6h100v-6zm200 0v6h100v-6zM0 962v6h1000v-6z'/%3E%3C/g%3E%3C/svg%3E%0A");
		--camperAnimation_floraFrontSVG: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000'%3E%3Cg transform='translate(99 729) scale(.27515)'%3E%3Cpath fill='%230b5945' d='M-104 661c-5-1-9 3-10 12-10 47-8 174-8 174s-12-84-21-112c-4-14-23-44-34-21-20 42-24 167-24 167s0-126-7-174c-2-11-11-50-19-28-21 59-9 214-9 214s-17-102-30-138c-5-13-24-36-30-14-10 41 13 154 13 154s-22-71-32-92c-7-12-34-30-32-8 3 44 33 125 50 168h282s35-116 48-154c5-16 0-43-19-33-30 13-59 104-59 104s9-72 9-93c0-13 6-51-12-39-17 10-27 60-27 60s1-110-13-135c-5-8-11-12-16-12zm2447 49c-5-1-9 3-10 12-10 47-7 149-7 149s-4-71-21-93c-12-16-33-1-34 24-2 55 26 184 26 184h134s35-86 47-124c5-15 0-71-19-62-30 14-58 103-58 103s9-71 9-92c0-12 6-67-12-55-16 10-26 106-26 106s1-116-14-140c-5-7-10-12-15-12z'/%3E%3C/g%3E%3C/svg%3E%0A");
	}
}
