<!-- wp:template-part {"slug":"header","tagName":"header","theme":"lonewolf"} /-->

<!-- wp:lonewolf/camper-animation /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:post-content {"layout":{"type":"default"}} /-->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"lonewolf/three-columns-features"} /-->

<!-- wp:pattern {"slug":"lonewolf/call-to-action"} /-->

<!-- wp:template-part {"slug":"footer-4-columns","theme":"lonewolf","tagName":"footer"} /-->