<!-- wp:template-part {"slug":"header","tagName":"header","theme":"lonewolf"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"48px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"lonewolf-bg-alt","layout":{"inherit":false,"wideSize":"960px"}} -->
<div class="wp-block-group has-lonewolf-bg-alt-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:48px;padding-bottom:64px">
    <!-- wp:post-title {"textAlign":"center","level":1} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"64px","bottom":"64px"}}},"layout":{"inherit":false}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-4-columns","area":"footer","theme":"lonewolf","tagName":"footer","align":"full"} /-->
