<!-- wp:template-part {"slug":"header","tagName":"header","theme":"lonewolf"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"backgroundColor":"lonewolf-bg-alt"} -->
<div class="wp-block-group has-lonewolf-bg-alt-background-color has-background" style="padding-top:48px;padding-bottom:var(--wp--preset--spacing--60);">
    <!-- wp:post-title {"textAlign":"center","level":1} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{,"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);">
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-4-columns","area":"footer","theme":"lonewolf","tagName":"footer","align":"full"} /-->
