// Until Gut' enables shadow support in the UI.
.has-shadow-small { box-shadow: var(--wp--preset--shadow--theme); }
.has-shadow-soft { box-shadow: var(--wp--preset--shadow--theme-soft); }
.has-shadow-inset { box-shadow: var(--wp--preset--shadow--theme-inset); }
