html,
body {
	min-height: 100vh;
}

.wp-site-blocks {
	display: flex;
	flex-direction: column;
}

// Push footer to bottom.
footer {
	margin-block-start: auto !important;
}

.wp-block-spacer {
	margin-block-start: 0 !important;
}

// Grid/flex gutters.
:where(body .is-layout-grid),
:where(body .is-layout-flex) {
	gap: var(--wp--custom--spacing--gutter--medium) var(--wp--custom--spacing--gutter--small);
}

// Override global blockGap size for inner blocks.
:where(body .is-layout-constrained) > * + *,
:where(body .is-layout-flow) > * + * {
	margin-block-start: var(--wp--preset--spacing--50);
	margin-block-end: 0;
}