html,
body {
	min-height: 100vh;
}

.wp-site-blocks {
	display: flex;
	flex-direction: column;
}

// Push footer to bottom.
footer {
	margin-block-start: auto !important;
}

.wp-block-spacer {
	margin-block-start: 0 !important;
}

/* Gutters. */

:where(body .is-layout-grid),
:where(body .is-layout-flex) {
	gap: var(--wp--custom--spacing--gutter--medium) var(--wp--custom--spacing--gutter--small);
}

// Default page padding for all root blocks.
.wp-site-blocks > *,
.editor-styles-wrapper > *:not( .edit-post-visual-editor__post-title-wrapper ) { // Include the editor.
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--wp--custom--spacing--gutter--medium);
	padding-right: var(--wp--custom--spacing--gutter--medium);

	// If the block has alignment children, don't apply l/r padding...
	&:has( .alignfull, .alignwide ) {
		padding-left: 0;
		padding-right: 0;

		// ..because it will be handled by the child.
		:is( .alignfull, .alignwide ):not( :has( .alignfull, .alignwide ) ) {
			padding-left: var(--wp--custom--spacing--gutter--medium);
			padding-right: var(--wp--custom--spacing--gutter--medium);
		}
	}
}

// Remove any default margins from root blocks.
.wp-site-blocks > * {
	margin-left: 0;
	margin-right: 0;
}


/* Gutenberg overrides */

:where(.wp-block-group.has-background) {
	padding: 0;
}

:is( .alignfull ),
.is-root-container .wp-block[data-align='full'] > .wp-block-group,
.is-root-container .wp-block[data-align='full'] > .wp-block-cover {
	margin-left: 0;
	margin-right: 0;
}
