/* Old - will adopt the 'theme.json way' */
/*
$mobileWidth:  300px;
$tabletWidth:  768px;
$laptopWidth:  1280px;
$desktopWidth: 1600px;
$xlWidth:      1920px;

:root {
	--lw_radius-tiny:  0.15em;
	--lw_radius-small: 0.6em;
	--lw_radius:       1.2em;
	--lw_background:   var(--lw_grey-lightest);
	--lw_border:       solid 0.3em var(--lw_grey-light);
	--lw_gutters:      0.5em;
	@media ( min-width: $mobileWidth ) { --lw_gutters: 1em;   }
	@media ( min-width: $laptopWidth ) { --lw_gutters: 1.5em; }
	--lw_padding:      0.5em;
	@media ( min-width: $mobileWidth ) { --lw_padding: 1em;   }
	@media ( min-width: $laptopWidth ) { --lw_padding: 1.5em; }
	--scrollbar: 0px;
}
*/