$line-height-huge: 1.25;
$line-height-x-large: 1.3;
$line-height-large: 1.4;
$line-height-medium: 1.5;
$line-height-normal: 1.7;
$line-height-small: 1.6;

$break-mobile: 600px;
$break-tablet:  768px;
$break-laptop:  992px;
$break-desktop: 1200px;
$break-xl:      1920px;
