// This handles styles that can't be defined in styles/midnight-sun.json.

/* INDEX

1. [TYPOGRAPHY]
	1.1 Text Gradients
2. [BLOCKS]
3. [PATTERNS]
	3.1 queryLoopCards-coloured
4. [THEME_SPECIFIC HELPERS]


*/


/**
 * This body class is defined in the variation json.
 */
.lw-theme-green-nightingale {

	/*========================================================= 1. TYPOGRAPHY ====*/
	/*---------------------------------------------------- 1.1 Text Gradients ----*/


	@mixin textGradient {
		background-size: 100%;
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		color: transparent;
		-webkit-text-fill-color: transparent; 
		-moz-text-fill-color: transparent;
	}

	.gn__textGradient_yellow-red {
		@include textGradient;
		background-color: #fe6150;
		background-image: linear-gradient(170deg, #ffb129 0%, #fe6150 100%);
	}

	.gn__textGradient_blue-red {
		@include textGradient;
		background-color: #044171;
		background-image: linear-gradient(170deg, #044171 0%, #fe6150 100%);
	}

	.gn__textGradient_blue-green {
		@include textGradient;
		background-color: #044171;
		background-image: linear-gradient(170deg, #044171 0%, #0d9066 100%);
	}

	.gn__textGradient_mint-yellow {
		@include textGradient;
		background-color: #044171;
		background-image: linear-gradient(170deg, #7ee2a2 0%, #ffb129 100%);
	}



	/*============================================================= 2. BLOCKS ====*/



	/*=========================================================== 3. PATTERNS ====*/
	/*------------------------------------------- 3.1 queryLoopCards-coloured ----*/

	.queryLoopCards-coloured {

		&>* { // Post Temlpate (<li> card parent).

			&> * { // Stack block (card inner wrapper).
				overflow: hidden;
				background-color: var(--cardColour);
			}

			// Editor adds hidden items, so we have to filter them by not selecting [style="display: none;"].
			&:nth-child( 3n+1 of :not( *[style="display: none;"] ) )>* { --cardColour:var(--wp--preset--color--lw-yellow); }
			&:nth-child( 3n+2 of :not( *[style="display: none;"] ) )>* { --cardColour:var(--wp--preset--color--lw-green-light); }
			&:nth-child( 3n+3 of :not( *[style="display: none;"] ) )>* { --cardColour:var(--wp--preset--color--lw-green-dark); }
		}
	}
}