// This handles styles that can't be defined in styles/midnight-sun.json.

/* INDEX

1. [TYPOGRAPHY]
	1.1 Text Gradients

*/
/*========================================================= 1. TYPOGRAPHY ====*/
/*---------------------------------------------------- 1.1 Text Gradients ----*/


@mixin textGradient {
    background-size: 100%;
	background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
	color: transparent;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.textGradient-rhubarbAndCustard {
	@include textGradient;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
}